:root {
  --main-color: #264e70;
  --secondary-color: #ffcbcb;
  --poppins: "Poppins", sans-serif;
  --Playfair: "Playfair Display", serif;
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--main-color);
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  line-height: 128px;
}
h2 {
  font-family: var(--poppins);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
h3 {
  font-family: var(--Playfair);
  color: var(--main-color);
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}
p {
  font-family: var(--poppins);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.primary-link {
  display: flex;
  justify-content: center;
  font-family: var(--poppins);
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 500px;
  line-height: 24px;
  text-decoration: none;
  background-color: white;
  padding: 30px;
  border: 1px solid var(--secondary-color);
}
.contact-link {
  display: flex;
  justify-content: center;
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 500px;
  line-height: 27px;
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: var(--main-color);
  padding: 18px 30px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.work-inquiry {
  background: #f9f7fe;
}
h4 {
  font-family: var(--Playfair);
  color: var(--main-color);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
h5 {
  font-family: var(--poppins);
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.lets-talk-link {
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--poppins);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 15px;
}
@media (max-width: 500px) {
  .hide-image {
    display: none;
  }
  p {
    text-align: center;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
}
