:root {
  --main-color: black;
  --secondary-color: #ffcbcb;
  --poppins: "Poppins", sans-serif;
  --Playfair: "Playfair Display", serif;
}
nav {
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  line-height: 15px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}
.logo {
  max-height: 40px;
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--main-color);
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  line-height: 128px;
}
h2 {
  font-family: var(--poppins);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
h3 {
  font-family: var(--Playfair);
  color: var(--main-color);
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}
.btn-branding {
  text-align: center;
  font-size: 18px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  line-height: 27px;
  padding: 15px 30px;

  border-radius: 4px;
  padding: 18px 40px;
  opacity: 0.7;
}
p {
  font-family: var(--poppins);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.work-inquiry {
  background: #f9f7fe;
}
h4 {
  font-family: var(--Playfair);
  color: var(--main-color);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
h5 {
  font-family: var(--poppins);
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.btn-branding-outline {
  color: #ffcbcb;
  border: 1px solid #ffcbcb;
  border-radius: 4px;
  padding: 18px 20px;
  text-align: center;
}
.lets-talk-link {
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--poppins);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 15px;
}
.about-me-section {
  padding: 160px 20px;
}
.about-me-section h1 {
  font-size: 64px;
  text-align: left;
  font-weight: 700px;
  line-height: 85px;
}
.about-me-section h2 {
  text-align: left;
  font: var(--poppins);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.about-me-section p {
  text-align: left;
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.about-me-section img {
  max-width: 100%;
}
.about-me-section .btn-branding {
  text-align: center;
  text-decoration: none;
  margin-right: 150px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 4px;
  padding: 18px 40px;
  opacity: 0.7;
}
.work-section h1 {
  font-size: 64px;
  line-height: 86px;
  text-align: left;
}
.work-section h3 {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.contact-section h1 {
  font-size: 64px;
}
.contact-section h3 {
  font-family: var(--poppins);
  font-size: 24px;
  margin: 0;
}
.contact-section p {
  margin: 0;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: lavenderblush;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box a {
  text-decoration: none;
}
footer .contact-box h4 {
  font-size: 36px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--secondary-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background-color: lavenderblush;
  border-radius: 50%;
  font-size: 18px;
  padding: 10px 14px;
}
footer .social-links a:hover {
  color: lavenderblush;
  background-color: #ffcbcb;
  transition: all 100ms ease-in-out;
}
@media (max-width: 900px) {
  .hide-image {
    display: none;
  }
  p {
    text-align: center;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  .about-me-section h1 h2 p img {
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }
}
